        /* Aggiungi qui eventuali stili CSS personalizzati */
        /* PALETTE DI COLORI:
        1: #3E0E19; molto scuro, per testi e contorni;
        2: #A51D3D; acceso, per navbar, footer e/o titoli;
        3: #DF4A6D; medio, alternativa per navbar, footer e/o titoli; colore dei link;
        4: #EEA0B2; tenue, non ancora definito, per contrasto con scuro e acceso;
        5: white; bianco, per sfondo pagina;*/
/* generale */       
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');
* {
	/*border: 1px solid black;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	/*border: 1px solid black;*/
	font-family: 'Oswald', sans-serif;
	scroll-behavior: smooth;
	}
header {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100vw;
	padding: 3vh 3vw;
}
header img {
	width: 61.8%;
}
nav {
	height: 10vh;
	position: sticky;
	top: 0;
	background-color: #A51D3D;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2.5vmin 5vmin -2.5vmin black;
}
nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav li {
 list-style: none;	
}
nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 5vmin;
}
main {
	padding: 3vh 3vw;
}
main h1 {
	color: #DF4A6D;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
main h2 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #3E0E19;
}
main h3 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #3E0E19;
}
main h4 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #3E0E19;
}
main h5 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #3E0E19;
}
main h6 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #3E0E19;
}
main p {
	font-family: 'Poppins', sans-serif;
	text-align: justify;
	line-height: 1.5;
}
#lista-articoli {
	display: flex;
	flex-wrap: wrap;
}
#lista-articoli a {
	text-decoration: none;
	color: #A51D3D;
	font-weight: bold;
	padding: 3vh;
}
section {
	padding: 1.5vh 3vw;
	border: 1px solid #EEA0B2;
	border-radius: 3vmin;
	margin: 5vh 0;
	box-shadow: 0 2.5vh 5vh -2.5vh black;
	scroll-margin-top: 11.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section div {
	width: 100%;
}
section img {
	width: 85vmin;
	object-fit: contain;
	border-radius: 3vmin;
}
section ul {
	padding: 0 5vw;
}
section * {
	margin: 1.5vh 0;
}
section a {
	color: #DF4A6D;
	text-decoration: none;
	font-weight: bold;
}
section iframe {
	width: 100%;
	border: none;
	pointer-events: none;
	mask-image: linear-gradient(black, transparent);
}
section address {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3vh 3vw;
	line-height: 1.25;
}
section blockquote {
	margin: 5vh 5vw;
	font-style: italic;
	font-size: 110%;
}
.container-row {
	padding: 3vh 3vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;	
}
.container-row img {
	max-height: 80vh;
	max-width: 45%;
	object-fit: contain;
	border-radius: 3vmin;
	box-shadow: 0 2.5vh 5vh -2.5vh black;
	}
.container-row div {
	width: 45%;
	padding-left: 5vw;
}
.container-row a {
	color: #DF4A6D;
	text-decoration: none;
	font-weight: bold;
}
.cta {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.cta-link {
	background-color: #A51D3D;
	color: white;
	text-decoration: none;
	padding: 3vh 3vw;
	border-radius: 3vmin;
	text-align: center;
	font-size: 133%;
}
footer {
	background-color: #3E0E19;
	color: white;
	font-size: 0.75rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 3vh 3vw;
}
footer a {
	color: #EEA0B2;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	padding-left: 1vw;
}
@media screen and (orientation:portrait) {
	/*section img {
		width: 100%;
	}*/
	.container-row img {
	max-width: 100%;
	object-fit: contain;
	border-radius: 3vmin;
	box-shadow: 0 2.5vh 5vh -2.5vh black;
	}
	.container-row div {
		width: 100%;
		padding-left: 5vw;
		margin-top: 5vh;
	}
	.container-row a {
		color: #DF4A6D;
		text-decoration: none;
	}
}

